<% layout('layouts/boilerplate')%>


<section class="py-4 text-center container index-title">
  <div class="row py-lg-4">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">All spots</h1>
      <p class="lead text-muted">Check out Tokyo's weather and explore many beautiful and interesting spots!</p>
      <p>
        <a class="btn btn-outline-primary" href="/spots/new" role="button"><i class="bi bi-file-earmark-plus"></i> Add Spot</a>
      </p>
    </div>

    <div class="card-transparen text-center border-light mb-3" style="width: 12rem; height: 17rem">
      <%const todayImg = "http://openweathermap.org/img/wn/"+ weatherData.daily[0].weather[0].icon +"@2x.png";
      const todayDate = new Date(weatherData.daily[0].dt * 1000).toLocaleDateString('ja-JP')%>
      <img src=<%= todayImg%> class="card-img-top weather-img mx-auto">
      <div class="card-body">
        <p class="card-text text-muted">Today (<%=todayDate%>)</p>
        <p class="card-text"><%=weatherData.daily[0].weather[0].description%></p>
        <p class="card-text"><%=Math.round(weatherData.daily[0].temp.max)%> / <%=Math.round(weatherData.daily[0].temp.min)%> &#8451</p>
      </div>
    </div>

    <div class="card-transparen text-center border-light mb-3" style="width: 12rem; height: 17rem">
      <%const tomorrowImg = "http://openweathermap.org/img/wn/"+ weatherData.daily[1].weather[0].icon +"@2x.png";
      const tomorrowDate = new Date(weatherData.daily[1].dt * 1000).toLocaleDateString('ja-JP')%>
      <img src=<%= tomorrowImg%> class="card-img-top weather-img mx-auto">
      <div class="card-body">
        <p class="card-text text-muted">Tomorrow (<%=tomorrowDate%>)</p>
        <p class="card-text"><%=weatherData.daily[1].weather[0].description%></p>
        <p class="card-text"><%=Math.round(weatherData.daily[1].temp.max)%> / <%=Math.round(weatherData.daily[1].temp.min)%> &#8451</p>
      </div>
    </div>
    </div>
</section>

<br>

<% for (let spot of spots){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=spot.image%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= spot.title %> </h5>
                <p class="card-text"><%= spot.description %></p>
                <p class="card-text">
                    <small class="text-muted"><i class="bi bi-signpost"></i> <%= spot.location%></small>
                </p>
                <a class="btn btn-outline-primary" href="/spots/<%=spot._id%>"><i class="bi bi-cursor"></i> View <%=spot.title%></a>
            </div>
        </div>
    </div>
  </div>
  <% }%>
