<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= spot.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= spot.title%></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= spot.location%></li>
                <li class="list-group-item">Submitted by @<%=spot.author.username%></li>
                <li class="list-group-item"><%= spot.type%></li>
                <li class="list-group-item"><%= spot.description%></li>
            </ul>
            <div id='map' style='width: 100%; height: 300px;'></div>
            <% if( currentUser && spot.author.equals(currentUser._id)){  %>
            <div class="card-body">
                <a class="card-link btn btn-outline-primary" href="/spots/<%=spot._id%>/edit"><i class="bi bi-pencil"></i> Edit</a>
                <form class="d-inline" action="/spots/<%=spot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</button>
                </form>
            </div>
            <%} %>
        </div>
      </div>

      <div class="col-6">
             <% if(currentUser){ %>
             <h2>Post your review about <%= spot.title%>!</h2>
             <form action="/spots/<%=spot._id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                 <!-- <div class="mb-3">
                     <label class="form-label" for="rating">Rating</label>
                     <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                 </div> -->
                 <fieldset class="starability-heart">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                 </fieldset>
                 <div class="mb-3">
                     <label class="form-label" for="body">Review</label>
                     <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                 </div>
                 <button class="btn btn-outline-success"><i class="bi bi-chat-left-text"></i> Submit</button>
             </form>
             <% } else { %>
               <h2>Log in to post your review about <%= spot.title%>!</h2>
             <% } %>
             <% for(let review of spot.reviews) { %>
             <div class="card mb-3 ">
                 <div class="card-body">
                     <h6 class="card-title text-muted">By @<%= review.author.username%></h6>
                     <p class="starability-result" data-rating="<%=review.rating%>">
                      Rated: <%= review.rating %> stars</p>
                     <p class="card-text">Review: <%= review.body %></p>
                     <%  if( currentUser && review.author.equals(currentUser._id))  {%>
                     <form action="/spots/<%=spot._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                         <button class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</button>
                     </form>
                     <%} %>
                 </div>
             </div>
        <% } %>
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const spot = <%- JSON.stringify(spot) %>
</script>

<script src="/js/showPageMap.js"></script>
